<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body{% if page.url == '/' %} class="landing-page-body"{% endif %}>

  <a class="skip-link" href="#main-content">Skip to content</a>

  {%- include announcement-banner.html -%}
  {%- include header.html -%}

  <main id="main-content" class="page-content" aria-label="Content" tabindex="-1">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

  <script src="{{ "/assets/js/site.js" | relative_url }}" defer></script>

</body>

</html>
